<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books</title>
    <style>
        *{
            margin: 2px;
        }
        body{
            margin-top:  20px;
        }
        .wallpaper{
            margin: 0 auto;
            width: 1000px;
            background-image: linear-gradient(rgb(227, 251, 255), white);
            padding: 10px;
        }
        p{
            font-family: Arial, Helvetica, sans-serif;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="wallpaper">
            <h1>Welcome, {{user.first_name}}.</h1>
            <a href="/log_out"> --> Log Out</a>


    </div>
</body>
</html>